body {

    background-color: white;
    color: black;
}

/* ============ TIMELINER.JS ============= */



.timeheader {

    padding: 10px;
}

.timeline-container {
    border-left: 2px solid #ccc;
    margin: 20px auto;
    width: 900px;
}

.container {
    font-family: 'Oswald';
    margin: auto;
    width: 50%;
    padding: 10px;

}

.timeline-toggle {
    background: #ccc;
    border-color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4psx;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin-right: 0;
    padding: 3px 5px;
    white-space: nowrap;
    font-family: 'Oswald';
}

.timeline-wrapper {
    clear: left;
    float: left;
    margin: 0 0 12px;
    width: 900px;
}

.timeline-wrapper h2 {
    background: url(../images/timeline_century_tick.gif) left center no-repeat;
    font-family: 'Oswald';
    cursor: pointer;
    font-size: 3em;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 4px 4px 4px 20px;



}

.timeline-wrapper h2 span {
    background: #e51d37;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    letter-spacing: 0em;
    line-height: 3em;
    padding: 5px 8px 8px;
    color: white;
    font-family: 'Oswald';
    text-transform: uppercase;


}


h3 {
    font-family: 'Oswald';
    letter-spacing: 0.05em;

}

p {
    font-family: 'Noto Serif';
}


.timeline-series {
    clear: left;
    float: left;
    margin: 0 12px 0 0;
    padding: 4px 4px 4px 0;
    position: relative;
    width: 880px;
}

.timeline-series dt {
    background: url(../images/timeline_decade_tick.gif) left center no-repeat;
    clear: left;
    font-size: 1.6em;
    list-style-type: none;
    line-height: 1.2em;
    margin: 0 0 12px;
    padding: 0 0 0 24px;
    white-space: nowrap;
    font-family: 'Oswald';
}

.timeline-series dt a {
    color: black;
    cursor: pointer;
}

.timeline-series dt a .closed {
    color: black;
    font-size: 1em;
    margin-left: 0;
}

.timeline-series dt a .open {
    color: black;
}

.timeline-series dt a:hover {
    color: #e51d37;
}

.timeline-series dd {
    padding-left: 24px;
    width: 100%;
}

.timeline-series dd h3 {
    color: black;
    clear: both;
    float: left;
    font-size: 1.5em;
    margin: 0;
    white-space: nowrap;
}

.timeline-event-content {
    display: none;

}

.timeline-event dt {
    color: blue;
}


.timeline-event-content p {
    clear: left;
    float: left;
    line-height: 1.5em;
    margin: 6px 0 5px;
    width: 500px;
}

.timeline-event-content h4 {
    clear: left;
    float: left;
    font-size: 1.4em;
    font-weight: 400;
    margin: 10px 0 0;
    padding: 0 0 0 20px;
    font-family: 'Oswald';
}

.timeline-event-content .media {
    float: right;
    padding: 10px;
    display: block;
    position: relative;
    top: -50px;
    left: 75px;
    font-family: 'Oswald';
}

.timeline-event-content .media img {
    border: 2px solid black;
    margin: 0;
    left: 100px;
}

.timeline-event-content .media p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}

.timeline-event-content .media a:hover {
    color: black;
    font-family: 'Oswald';
}

.clear {
    clear: both;
}

.fixed-footer {
    font-family: 'Oswald';
    font-size: 15px;
    padding: 15px;

}

a {
    color: black;
}

a:hover {
    color: #e51d37;
}